# Python
__pycache__/
*.py[cod]
*.pyd
*.so

# Virtual envs
.venv/
venv/
ENV/

# Build / packaging
build/
dist/
*.egg-info/
.eggs/

# IDEs
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Logs / temp
*.log

# tests
tests/
testing.py
rm3_main.py